{% include 'header.html' %}
<style>
.pagination {
	display: flex;
}
</style>
<!-- Main content -->
<section class="content">
	<div class="row">
		<!-- left column -->
		<div class="col-md-12">
			<!-- general form elements -->
            <!-- general form elements -->
			<div class='box'>
				<div class="box-header with-border">
					<h3 class="box-title">Board List</h3>
				</div>
				<div class='box-body'>
					<select id="searchType">
						<option value="title">제목</option>
						<option value="writer">작성자</option>
					</select>

					<input type="text"
						   id="searchKeyword"
						   name="search"
						   placeholder="Search"/>

					<button class="btn btn-primary" id="searchBtn">Search</button>

					<a href="../bbsForm/" class="btn btn-primary">New Board</a>

				</div>
			</div>

          <div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">LIST ALL PAGE</h3>
				</div>
				<div class="box-body">

{% if boards %}
<table class="table table-bordered">
	<tr>
		<th style="width: 10px">BNO</th>
		<th>TITLE</th>
		<th>WRITER</th>
		<th>REGDATE</th>
		<th style="width: 40px">VIEWCNT</th>
	</tr>

	<tbody id="tbody">
	{% for board in boards %}
	<tr>
		<td>{{forloop.counter}}</td>
		<td><a href="../view?id={{board.id}}">{{board.title}}</a></td>
		<td>{{board.writer.user_id}}</td>
		<td>{{board.regdate|date:"Y-m-d"}}</td>
		<td><span class="badge bg-red">{{board.viewcnt}}</span></td>
	</tr>
	{% endfor%}
	</tbody>

</table>
{% else %}
					<p><h4>데이터 정보가 존재하지 않습니다!</h4></p>
{% endif %}

				</div>
				<!-- /.box-body -->
						<div class="box-footer">
							  <!-- Pagination -->
								<div style="text-align:center">
									<div class="pagination">

										 <div style="width:35%; margin: 5px;">
											 {% if boards.has_previous %}
												 <a class="abutton" href="?page=1">맨 앞으로</a>
												 <a class="abutton" href="?page={{ boards.previous_page_number }}">이전</a>
											{% endif %}
											</div>

								<div style="width:30%; margin: 5px;">
								{% for page in boards.paginator.page_range %}
									{% if page >= boards.number|add:-2 and page <= boards.number|add:2 %}
									<span class="{% if page == boards.number %}current{% endif %}">
										<a href="?page={{ page }}">{{ page}}</a>
									</span>
									{% elif page >= boards.number|add:-3 and page <= boards.number|add:3 %}
										..
									{% endif %}
								{% endfor %}
								</div>

								<div style="width:35%; margin: 5px;">
								{% if boards.has_next %}
									<a class="abutton" href="?page={{ boards.next_page_number }}">다음</a>
									<a class="abutton" href="?page={{ boards.paginator.num_pages }}">맨 뒤로</a>
								{% endif %}
								</div>

							</div>
					</div>

				</div>
				<!-- /.box-footer-->
			</div>
		</div>
		<!--/.col (left) -->

	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
<!--</div> -->

<!-- /.content-wrapper -->

{% include 'footer.html' %}

<script>

	$(document).ready(function() {
         $('#searchBtn').click(function(){
          var type = $('#searchType').val()
          var keyword = $('#searchKeyword').val()
         alert(type+"       "+ keyword)
           /////ajax
         $.ajax({
             url  : '../search/',
             type : 'post',
             data : {
                    'csrfmiddlewaretoken' : '{{ csrf_token}}',
                    searchType : type,
                    searchKeyword : keyword
                    },
                    dataType : 'json',
                    success : function(lst){
                       alert('call back success')
                       $('#tbody').empty()
                       var txt = ''
					$.each(lst , function(idx, board) {
						txt += "<tr><td>"+board.id+"</td>"
						txt += "<td><a href='../view?id="+board.id+"'>"+board.title+"</a></td>"
						txt += "<td>"+board.writer+"</td>"
						txt += "<td>"+board.regdate+"</td>"
						txt += "<td><span class='badge bg-red'>"+board.viewcnt+"</span></td></tr>"
					})
					alert(txt)
					$('#tbody').html(txt)
                    }
           })

     	})

	});

</script>





